.profile-container {
    margin-top: 140px;
    height: 55vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to bottom, #c4e0e5, #4ca1af);
    width: 50%;
    margin: 150px auto;
    padding: 3em;
    box-shadow: 12px 12px 2px 1px #c4e0e5;
}

.employee-detail {
    padding: 0.5em;
}
