table {
    width: 100%;
    table-layout: fixed;
}
.tbl-header {
    background-color: white;
    position: fixed;
    top: 85px;
}

.tbl-content {
    margin-top: 150px;
    background: linear-gradient(to bottom, #c4e0e5, #4ca1af);
}
th {
    text-align: center;
    overflow: hidden;
    border: 1px solid #4ca1af;
}
td {
    padding: 0.2em;
    text-align: center;
    text-decoration: none;
}

.display-total {
    text-align: right;
    margin-bottom: 20px;
    margin-right: 45px;
    font-weight: bolder;
}

.display-total span {
    color: #4ca1af;
}
